{% extends 'diary/base.html' %}

{% block diary_head_extra %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    {{ form.media }}
{% endblock diary_head_extra %}


{% block diary_nav %}
    {% with diary_nav_prev='' diary_nav_next='' %}
    {% url 'diary:entry' pk=entry_pk as diary_nav_up %}
    {{ block.super }}
    {% endwith %}
{% endblock diary_nav %}


{% block diary_title %}
    New Customer
{% endblock diary_title %}


{% block diary_content %}

    <div class="container-fluid">
        <div class="row">
            <div class="col-md-8">
                <form class="post-form" method="POST">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <button 
                        class="save btn btn-default diarybutton" 
                        type="submit"
                        >
                        Save
                    </button>
                </form>
            </div>
        </div>
    </div>


{% endblock diary_content %}

