{# html snippet for creating entry modals dynamically #}
{# all the modals have the same id because their contents are destroyed #}
{# after each use #}
{# modal id is 'ajaxModal' #}

<!--div class="modal fade" id="ajaxModal" role="dialog"-->
<div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" 
                data-dismiss="modal">&times;
            </button>
            <h4>
                {{ entry.date }}:
                {{ entry.time }} - 
                {{ entry.time_end }}: 
                {{ entry.customer }}
            </h4>
        </div>
        <div class="modal-body">
            <div class="container">
                <div class="row">
                    <div class="col-xs-2">
                        Treatment: 
                    </div>
                    <div class="col-xs-10">
                        {{ entry.treatment }}
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-2">
                        Resource: 
                    </div>
                    <div class="col-xs-10">
                        {{ entry.resource }}
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-2">
                        Notes:
                    </div>
                    <div class="col-xs-10">
                        <textarea disabled rows="5">{{ entry.notes }}</textarea>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button 
                type="button" 
                class="btn btn-danger" 
                onclick="next_url('{% url 'diary:entry_delete' pk=entry.pk %}');"
                >
                Delete
            </button>
            <button 
                type="button" 
                class="btn btn-default" 
onclick="next_url('{% url 'diary:entry' pk=entry.pk %}?next={{ redirect_url }}');"
                >
                Edit
            </button>
            <button 
                type="button" 
                class="btn btn-default" 
                data-href="#"
                data-dismiss="modal"
                >
                Close
            </button>
        </div>
    </div>
</div>
<!--/div-->

