{% extends 'diary/base.html' %}
{% load staticfiles %}


{% block diary_head_extra %}
    <link rel="stylesheet" href="{% static 'diary/multi_col.css' %}" />
{% endblock diary_head_extra %}


{% block diary_nav %}
    {% url 'diary:month_nav' year=date.year month=date.month change='next' as diary_nav_next %}
    {% url 'diary:month_nav' year=date.year month=date.month change='prev' as diary_nav_prev %}
    {% url 'diary:year' year=date.year as diary_nav_up %}
    {{ block.super }}
{% endblock diary_nav %}


{% block diary_title %}
    {{ month_name }} {{ date.year }}
{% endblock diary_title %}


{% block diary_content %}

    <div class="container-fluid">

        {# the week headers with day names #}
        <div class="row cols-7">
            {% for day in day_names %}
                <div class="col-md-1 day">
                    {{ day }}
                </div>
            {% endfor %}
        </div>

        {# one week = seven days per row #}
        {% for week in weeks %}
            <div class="row cols-7">
                {% for day, nav_slug, entries, current in week %}
                    <a href=
                        {% if day != 0 %}
                            "{% url 'diary:multi_day' slug=nav_slug %}"
                        {% else %}
                            ""
                        {% endif %}
                        >
                        <div class="col-md-1 day
{% if day != 0 %} regular{% endif %}
{% if current %} current{% endif %}"
                            >
                            {% if day != 0 %}
                                {{ day }}
                                <br />
                                <b>
                                {% for entry in entries %}
                                    {{ entry.customer }}
                                {% endfor %}
                                </b>
                            {% endif %}
                        </div>
                    </a>
                {% endfor %}
            </div>
        {% endfor %}

    </div>

{% endblock diary_content %}

