{% extends 'diary/base.html' %}


{% block diary_nav %}
    {% url 'diary.views.month' year=date.year month=date.month change='next' as diary_nav_next %}
    {% url 'diary.views.month' year=date.year month=date.month change='prev' as diary_nav_prev %}
    {% url 'diary.views.year' year=date.year as diary_nav_up %}
    {{ block.super }}
{% endblock diary_nav %}


{% block diary_title %}
    Calendar {{ month_name }} {{ date.year }}
{% endblock diary_title %}


{% block diary_content %}

    <div class="month">
        <table class="weeks">
            <tr>
                {% for day in day_names %}
                    <th class="day">{{ day }}</th>
                {% endfor %}
            </tr>
            {% for week in weeks %}
                <tr>
                    {% for day, nav_slug, entries, current in week %}
                        <td class=
"day{% if day != 0 %} regular{% endif %}{% if current %} current{% endif %}"
                            {% if day != 0 %}
                                onclick=
"parent.location='{% url 'diary.views.multi_day' slug=nav_slug %}'"
                            {% endif %}
                            >
                            {% if day != 0 %}
                                {{ day }}
                                <br />
                                <b>
                                {% for entry in entries %}
                                    {{entry.creator}}
                                {% endfor %}
                                </b>
                            {% endif %}
                        </td>
                    {% endfor %}
                </tr>
            {% endfor %}
        </table>
    </div>

{% endblock diary_content %}

