{% extends 'diary/base.html' %}


{% block diary_nav %}
    {% url 'diary.views.year' year=next_year as diary_nav_next %}
    {% url 'diary.views.year' year=prev_year as diary_nav_prev %}
    {% url 'diary.views.year' as diary_nav_up %}
    {{ block.super }}
{% endblock diary_nav %}


{% block diary_title %}
    Calendar {{ year }}
{% endblock diary_title %}


{% block diary_content %}
    {% for year, months in years %}
        <div class="clear"></div> <!-- duh? -->
        <h4>{{ year }}</h4>
        {% for month in months %}
            <div class="month{% if month.current %} current{% endif %}
                {% if month.entry %} hasentry{% endif %}">
                <a href="{% url 'diary.views.month' year=year month=month.n %}">
                    {{ month.name }}
                </a>
            </div>
            {% if month.n == 6 or month.n == 12 %}
                <br />
            {% endif %}
        {% endfor %}
    {% endfor %}
{% endblock diary_content %}

