/* css for diary page(s) */

.current {
    background-color: #f57900;
}

.hasentry {
    font-weight: bold;
}

.weeks {
    width: 100%;
    table-layout: auto;
    whitespace: nowrap;
}

.weeks th {
    font-weight: normal;
}

.day {
    vertical-align: top;
    font-style: italic;
    padding: 2px;
}

.day.regular {
    font-style: normal !important;
    height: 85px;
}

.day.regular:hover {
    background-color; #c4a000;
}

.right {
    float: right;
}

.new {
    float: right;
    inline: true;
}


/* 7-col grid layout for week display in months */
@media (min-width: 768px){
  .seven-cols .col-md-1,
  .seven-cols .col-sm-1,
  .seven-cols .col-lg-1  {
    width: 100%;
    *width: 100%;
  }
}

@media (min-width: 992px) {
  .seven-cols .col-md-1,
  .seven-cols .col-sm-1,
  .seven-cols .col-lg-1 {
    width: 14.285714285714285714285714285714%;
    *width: 14.285714285714285714285714285714%;
  }
}

@media (min-width: 1200px) {
  .seven-cols .col-md-1,
  .seven-cols .col-sm-1,
  .seven-cols .col-lg-1 {
    width: 14.285714285714285714285714285714%;
    *width: 14.285714285714285714285714285714%;
  }
}


/* kludgy workaround for silly date in the TimeWidget popout header */
.datetimepicker-hours th {
    visibility: hidden !important;
}
.datetimepicker-minutes th {
    visibility: hidden !important;
}


/* drag and drop styling for multi_day and day templates */

.droptarget {
    height: 25px;
    border: 1px solid #cccccc;
}

.dragover {
    border: 2px solid #ff0000;
}

div.entry {
    float: left;
    display: inline;
    padding-right: 10px;
}

/* http://www.html5rocks.com/en/tutorials/dnd/basics/ */
/* Prevent the text contents of draggable elements from being selectable. */
[draggable] {
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    user-select: none;
    /* Required to make elements draggable in old WebKit */
    -khtml-user-drag: element;
    -webkit-user-drag: element;
    cursor: move; /* alter cursor shape as a visual cue */
}
.dragover [draggable] {
    background: #ff8800;
    border: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    user-select: none;
}

.errorlist {
    color: red;
    font-weight: bold;
}

