/* css for diary page(s) */

.current {
    background-color: #f57900;
}

.hasentry {
    font-weight: bold;
}

.weeks {
    width: 100%;
    table-layout: auto;
    whitespace: nowrap;
}

.weeks th {
    font-weight: normal;
}

.day {
    vertical-align: top;
    font-style: italic;
    padding: 2px;
}

.day.regular {
    font-style: normal !important;
    height: 85px;
}

.day.regular:hover {
    background-color; #c4a000;
}

.right {
    float: right;
}

.new {
    padding: 0;
    color: #555555;
}
.new[disabled] {
    color: #cccccc;
}

/* admin and trading are opposites */
.admin {
    background-color: #aaaaaa;
}
.trading {
}

/* kludgy workaround for silly date in the TimeWidget popout header */
.datetimepicker-hours th {
    visibility: hidden !important;
}
.datetimepicker-minutes th {
    visibility: hidden !important;
}


/* drag and drop styling for multi_day and day templates */

.droptarget {
    height: 25px;
    outline: 1px solid #cccccc;
    outline-offset: -1px;
}

.dragover {
    outline: 2px solid #ff0000;
}

div.entry {
    float: left;
    display: inline;
    padding-right: 10px;
}

/* http://www.html5rocks.com/en/tutorials/dnd/basics/ */
/* Prevent the text contents of draggable elements from being selectable. */
[draggable] {
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    user-select: none;
    /* Required to make elements draggable in old WebKit */
    -khtml-user-drag: element;
    -webkit-user-drag: element;
    cursor: move; /* alter cursor shape as a visual cue */
}
.dragover [draggable] {
    background: #ff8800;
    border: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    user-select: none;
}

/* forms styling */

.errorlist {
    color: red;
    font-weight: bold;
}

.diarybutton {
    display: inline;
    float: right;
}

